<div class="profile-main">                                      
  <p>Name: {{name}}</p>
  <p>Nickname: {{nickname}}</p>
  <p>Age: {{age}}</p>
  <p>What's you're favourite sauce? {{sauce}}</p>
  <p>Preferred Pronouns: {{pronouns}}</p>
  <p>Motto/Mantra: {{motto}}</p>
  <p>Pets: {{pets}}</p>
  <p>Children: {{family}}</p>
  <p>Favourite Hobbies: {{hobbies}}</p>
  <p>Line of code that represents you? {{code}}</p>
  <p>Favourite Colour: {{colour}}</p>
  <p>Favourite Movie: {{movie}}</p>
  <p>Favourite Music: {{music}}</p>
  <p>Favourite Website: {{website}}</p> 
</div>
