
<div class="profile-main">                                      
  <div class="profName">&emsp;&emsp;&emsp;&nbsp;{{name}}</div>
  <p>Aka : {{short}}&emsp;&emsp;&emsp;&emsp;&emsp;Age: {{age}}</p>
  <p></p>
  <p>Favourite sauce? {{sauce}}</p>
  <p>Best Pronouns: {{preferedP}}</p>
  <p>Mantra: {{mantra}}</p>
  <p>Pets: &emsp;{{favPets}}</p>
  <p>Children: {{children}}</p>
  <p>Favourite Hobbies: {{hobbies}}</p>
  <p>Line of code that represents you? {{code}}</p>
  <p>Favourite Colour: {{color}}</p>
  <p>Favourite Movie: {{movie}}</p>
  <p>Favourite Music: {{music}}</p>
  <p>Favourite Website: <a href="{{website}}">{{website}}</a></p>
  <p>A bit about me: {{personal}}</p>
</div>
