<div class="profile-main">                                      
  <div class="p">Name: {{name}}</div>
  <div class="p">Nickname: {{short}}</div>
  <div class="p">Age: {{age}}</p>
  <div class="p">What's your favourite sauce? {{sauce}}</div>
  <div class="p">Preferred Pronouns: {{preferedP}}</div>
  <div class="p">Motto/Mantra: {{mantra}}</div>
  <div class="p">Pets: {{favPets}}</div>
  <div class="p">Children: {{children}}</div>
  <div class="p">Favourite Hobbies: {{hobbies}}</div>
  <div class="p">Line of code that represents you? {{code}}</div>
  <div class="p">Favourite Colour: {{color}}</div>
  <div class="p">Favourite Movie: {{movie}}</div>
  <div class="p">Favourite Music: {{music}}</div>
  <div class="p">Favourite Website: <a href="{{website}}">{{website}}</a></div> 
  <div class="p">A bit about me: {{personal}}</div> 
</div>
