<div class="profile-main">                                      
  <p><strong>{{name}}</strong></p>
  <p>Nickname: {{short}}</p>
  <p>Age: {{age}}</p>
  <p>What's your favourite sauce? {{sauce}}</p>
  <p>Preferred Pronouns: {{preferedP}}</p>
  <p>Motto/Mantra: {{mantra}}</p>
  <p>Pets: {{favPets}}</p>
  <p>Children: {{children}}</p>
  <p>Favourite Hobbies: {{hobbies}}</p>
  <p>Line of code that represents you? {{code}}</p>
  <p>Favourite Colour: {{color}}</p>
  <p>Favourite Movie: {{movie}}</p>
  <p>Favourite Music: {{music}}</p>
  <p>Favourite Website: <a href="{{website}}">{{website}}</a></p>
  <p>A bit about me: {{personal}}</p>
</div>
