{{> nav}}
<div class="addProf">
<form action="/mamaku/profile{{id}}/edit" method="post">
<label for="name" class="form-item">Name: <input value="{{name}}"type="text" name="name" ></label>
<label for="image" class="form-item">Image: <input value="{{image}}"type="text" name="image" ></label>
<label for="short" class="form-item">NickName:  <input value="{{short}}"type="text" name="short" ></label>
<label for="age" class="form-item">Age:  <input value="{{age}}"type="text" name="age" ></label>
<label for="sauce" class="form-item">Sauce:  <input value="{{sauce}}"type="text" name="sauce" ></label>
<label for="preferedP" class="form-item">Preferred pronoun:  <input value="{{preferedP}}"type="text" name="preferedP" ></label>
<label for="mantra" class="form-item">Mantra:  <input value="{{mantra}}"type="text" name="mantra" ></label>
<label for="favPets" class="form-item">Pets:  <input value="{{favPets}}"type="text" name="favPets" ></label>
<label for="children" class="form-item">Children:  <input value="{{children}}"type="text" name="children" ></label>
<label for="hobbies" class="form-item">Hobbies:  <input value="{{hobbies}}"type="text" name="hobbies" ></label>
<label for="code" class="form-item">Code:  <input value="{{code}}"type="text" name="code" ></label>
<label for="color" class="form-item">Color:  <input value="{{color}}"type="text" name="color" ></label>
<label for="movie" class="form-item">Movie:  <input value="{{movie}}"type="text" name="movie" ></label>
<label for="music" class="form-item">Music:  <input value="{{music}}"type="text" name="music" ></label>
<label for="website" class="form-item">Website:  <input value="{{website}}"type="text" name="website" ></label>
<label for="banner" class="form-item">banner:  <input value="{{banner}}"type="text" name="banner" ></label>
<label for="Lbanner" class="form-item">Lbanner:  <input value="{{Lbanner}}"type="text" name="Lbanner" ></label>
<label for="Rbanner" class="form-item">Rbanner:  <input value="{{Rbanner}}"type="text" name="Rbanner" ></label>
<label for="Botbanner" class="form-item">Botbanner:  <input value="{{Botbanner}}"type="text" name="Botbanner" ></label>
<input type="submit" name="" value="Submit">
</form>
</div>

{{> footer}}