<body>
<!--Name or nickname-->
<p>Name: {{name}}</p>
<p>Nickname: {{short}}</p>
<!--Age-->
<p>Age: {{age}}</p>
<!--Favourite Sauce: If you were a favourite sauce what would you be?-->
<p>What's you're favourite sauce? {{sauce}}</p>
<!-- Your preffered Pronouns-->
<p>Preferred Pronouns: {{preferedP}}</p>
<!-- Personal Motto/Mantra-->
<p>Motto/Mantra: {{mantra}}</p>
<!--Pets/favourite animals-->
<p>Pets: {{favPets}}</p>
<!--Family/Number of children-->
<p>Children: {{children}}</p>
<!--Hobbies-->
<p>Favourite Hobbies: {{hobbies}}</p>
<!--Personal code: If you were a line of code what would you be?-->
<p>Line of code that represents you? {{code}}</p>
<!---Favourite colour-->
<p>Favourite Colour: {{color}}</p>
<!--Favourite movie-->
<p>Favourite Movie: {{movie}}</p>
<!--Favourite type of music-->
<p>Favourite Music: {{music}}</p>
<!--Favourite website-->
<p>Favourite Website: {{website}}</p>
</body>